{% extends 'layout.html' %}
{% block body %}
<div class="padding-left-large" id="header" style="line-height: 1.3;">
    <h2>I don't mean to interfere, but..</h2>

    <p class="sm-8">
        Hi there, <br><br>

        When you're in the middle of something painful, it may feel like you don't have a lot of options. But whatever
        you're going through, you deserve help and there are people who are here for you. Including us. <br><br>

        There are resources available in your area that are free, confidential, and available 24/7:<br><br>

        <ul>
            <li>Call, Text, or Chat with Canada's <a href="https://www.crisisservicescanada.ca/en">Crisis Services
                    Canada</a>]
            </li>
            <li>Call, Email, or Visit the UK's <a href="https://www.samaritans.org/">Samaritans</a></li>
            <li>Text CHAT to America's <a href="https://www.crisistextline.org">Crisis Text Line</a> at 741741.</li>
            <li>Any helpline in your country.</li>
        </ul>

        If you think you may be depressed or struggling in another way, don't ignore it or brush it aside. Take yourself
        and your feelings seriously, and reach out to someone.<br><br>

        It may not feel like it, but you have options. There are people available to listen to you, and ways to move
        forward.<br><br>

        I am alive. And so are you. <br><br>
        There is nothing there for us, no purpose, no reason.<br><br>
        and yet I laugh in the face of uncertainty and i say with confidence; I am real. I exist. I know that I am
        me,<br><br>
        And you are you.<br><br>
        There may be no meaning in this cold, lonely, heat death approaching universe, and yet if there is no meaning,
        then I am the one who will give it meaning.<br><br>
        I will be the one to give meaning to my life. Not others, not the emptiness of the universe and certainly not
        the "fatedness" of existence. And upon declaring this I look to you, through the screen or text or whichever
        medium this ends in your posession and I say to you; I will never know you. I will never hear you. I will never
        see you or touch you, but know this one thing:<br><br>
        I love you.
    </p>
    <a href="{{ url_for('submit') }}" class="paper-btn">Submit a message</a>
    <a href="{{ url_for('view') }}" class="paper-btn">View a message</a>
    <a href="{{ url_for('encouragements') }}" class="paper-btn">View another encouragment</a>
    <a href="{{ url_for('support') }}" class="paper-btn">Want some support?</a>
    <a href="{{ url_for('index') }}" class="paper-btn">Home</a>
</div>
{% endblock %}